#CodoCodo{
    width: 10vw;
    height: 5vw;
}

#compTick{
    color: rgb(3, 182, 3);
}

#Tarj{
    margin: 1vh;
}

#textoEpig{
    margin-top: 1%;
    margin-bottom: 0%;
}

#textoEpigDos{
    margin-bottom: 0%;
}

#tarjUnicaUno{
    padding: 0px;
    margin-right: 2%;
}

#tarjUnicaDos{
    padding: 0px;
    margin-right: 2%;
}

#tarjUnicaTres{
    padding: 0px;
}

#formulario{
    margin-top: 0.1em;
}

#textoCharla{
    margin-bottom: 0%!important;
}

#botonForm{
    background-color: rgba(114, 214, 0, 0.808);
    border-color: rgba(114, 214, 0, 0.808);;
}

#piePagina{
    background-image: linear-gradient(45deg, #28455e, #24537c)!important;
    background-size: 100%!important;
    height: 100%!important;
}

.textoTarj{
    font-size: 80%;
}

footer p{
    margin-top: 1em!important;
}

@media only screen and (max-width:326px){

    #fondo{
        height: 90vw;
    }
    #botonEsp{
        margin-bottom: 2%;
    }
    #textoImag{
        margin-top: 0%;
        margin-left: 0%;
        font-size: 10px;
    }
    #tarjUnicaUno{
        padding: 0px;
    }
    
    #tarjUnicaDos{
        padding: 0px;
    }
    
    #tarjUnicaTres{
        padding: 0px;
    }
    
    
}

@media only screen and (min-width:326px){

    #fondo{
        height: 90vw;
    }
    #botonEsp{
        margin-bottom: 0%;
        
    }
    #textoImag{
        margin-top: 0%;
        margin-left: 0%;
        font-size: 12px;
    }
    #tarjUnicaUno{
        padding: 0px;
    }
    
    #tarjUnicaDos{
        padding: 0px;
    }
    
    #tarjUnicaTres{
        padding: 0px;
    }
    
}
@media only screen and (min-width:500px){
    
    #fondo{
        height: 75vw;
    }
    #textoImag{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: smaller;
    }
    
}

@media only screen and (min-width:700px){

    #fondo{
        height: 66vw;
    }
    #textoImag{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 10%;
        font-size: small;
    }
    #tarjUnicaUno{
        padding: 0px;
        margin-right: 2%;
    }
    
    #tarjUnicaDos{
        padding: 0px;
        margin-right: 2%;
    }
    
    #tarjUnicaTres{
        padding: 0px;
    }
}

@media only screen and (min-width:900px){

    #textoImag{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 10%;
        font-size: medium;
    }
}


@media only screen and (min-width:992px){

    #fondo{
        height: 52vw;
    }
    #textoImag{
        margin-top: 15%;
        margin-left: 40%;
        margin-right: 10%;
    }
}

@media only screen and (min-width:1200px){

    #fondo{
        height: 42vw;
    }
    #textoImag{
        margin-left: 50%;
        margin-right: 10%;
    }
}
